{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fruitables</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta name="csrf-token" content={% csrf_token %}>
    <meta content="" name="description">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Include Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Include Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Include external CSS files -->
    {% include "link.html" %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/logo-modified-2.png' %}" type="image/jpeg">
</head>
    <body>
        {% include "header.html" %}
        {% block content %}
        {% endblock %}
        {% include "footer.html" %}
        {% include "script.html" %}
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/66d1a808ea492f34bc0bb60f/1i6hfgp41';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
    <!--End of Tawk.to Script-->
    </body>
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                Toastify({
                    text: "{{ message }}",
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "{% if 'error' in message.tags %}#f44336{% else %}#4CAF50{% endif %}",
                    style: {
                        marginTop: "50px"  
                    }
                }).showToast();
            {% endfor %}
        });
        </script>        
{% endif %}
</html>