{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->

<form id="checkout-form" action="{% url 'checkout' %}" method="post">
    {% csrf_token %}
    <div class="row g-5">
        <div class="col-md-12 col-lg-6 col-xl-7">
            <!-- Billing details form fields -->
            {{ form.as_p }}
            <input type="hidden" name="amount" id="amount" value="">
            {% for cartitem in cartitems %}
            <input type="hidden" name="product_name_{{ forloop.counter }}" value="{{ cartitem.product.name }}">
            <input type="hidden" name="product_quantity_{{ forloop.counter }}" value="{{ cartitem.quantity }}">
            {% endfor %}
        </div>
        <div class="col-md-12 col-lg-6 col-xl-5">
            <!-- Cart items and total -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cartitem in cartitems %}
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="{{ cartitem.product.image.url }}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </th>
                            <td class="py-5">{{ cartitem.product.name }}</td>
                            <td class="py-5">{{ cartitem.product.price }}</td>
                            <td class="py-5">{{ cartitem.quantity }}</td>
                            <td class="py-5">{{ cartitem.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="bg-light rounded mt-4" style="width: 100%;">
                <div class="p-4">
                    <h1 class="display-6 mb-4 text-center">Total</h1>
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="mb-0 me-4" style="color: black;">Subtotal:</h5>
                        <p class="mb-0" id="subtotal" style="color: black;">$0.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-0 me-4" style="color: black;">Discount:</h5>
                        <p class="mb-0" id="discount" style="color: black;">$0.00</p>
                    </div>
                </div>
                <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                    <h5 class="mb-0 ps-4 me-4" style="color: black;">Total</h5>
                    <p class="mb-0 pe-4" id="total" style="color: black;">$0.00</p>
                </div>
            </div>
            <div id="paypal-button-container" class="mt-5"></div>
            <a href="{% url 'cart' %}">
                <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button" >Back To Cart</button>
            </a>
        </div>
    </div>
</form>

<script src="https://www.paypal.com/sdk/js?client-id=AcDtWJs1tbRF2qhgITq2xXUzpK8AI9vtmv9j8F4paQ4hbSoipqH9BySNgUK25h4jjOvW0g076N6IQS_s"></script>
<script src="{% static 'js/checkout.js' %}"></script>
<!-- Checkout Page End -->

{% endblock %}