{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Fruits</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Fruits</li>
    </ol>
</div>
<!-- Single Page Header End -->
<div class="view-toggle">
    <button id="grid-view" class="view-icon"><i class="fas fa-th"></i></button>
    <button id="list-view" class="view-icon"><i class="fas fa-list"></i></button>
</div>

<!-- Fruits Shop Start -->
<div class="container" id="grid-container" class="product-grid">
    <div class="row justify-content">
        <div class="col-lg-13 m-4">
            <div class="row fruite g-6 mt-4"> 
            {% if fruit_products %}
                {% for product in fruit_products %}
                <div class="col-md-7 col-lg-6 col-xl-3 mb-4"> <!-- Margin-bottom for spacing between rows -->
                    <div class="rounded position-relative fruite-item" style="overflow: hidden; width: 220px; height: 400px;">
                        <a href="{% url 'product-detail' product.product_id %}">
                            <div class="fruite-img" style="height: 200px; overflow: hidden;">
                                <img src="{{ product.image.url }}" class="img-fluid w-100" alt="{{ product.name }}" style="height: 100%; object-fit: cover;">
                            </div>
                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ product.category1 }}</div>
                            <div class="p-4 border border-secondary border-top-0 rounded-bottom" style="height: 200px;">
                                <h4 style="font-size: 1.25rem; margin-bottom: 10px;">{{ product.name }}</h4>
                                <p style="font-size: 0.875rem; color: #6c757d; margin-bottom: 15px; height: 50px; overflow: hidden;">{{ product.description }}</p>
                                <div class="d-flex justify-content-center flex-lg-wrap">
                                    <p class="text-dark fs-5 fw-bold mb-1">${{ product.price }} / {{ product.weight }}</p>
                                    <a href="{% url 'product-detail' product.product_id %}" class="btn border border-secondary rounded-pill px-3 text-primary">
                                        <i class="fa fa-plus-circle me-2 text-primary"></i> View More
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% empty %}
                <p>No Fruits Available.</p>
                {% endfor %}
            {% else %}
            <p>No Fruits found for "{{ search_query }}"</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End -->
<div id="list-container" class="product-list" style="display: none;">
    <table id="product-list-table" class="display">
        <thead>
            <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Price</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in fruit_products %}
            <tr>
                <td class="text-center"><img src="{{ product.image.url }}" alt="{{ product.name }}"></td>
                <td class="text-center">{{ product.name }}</td>
                <td class="text-center">{{ product.description }}</td>
                <td class="text-center">${{ product.price }} /{{ product.weight }}</td>
                <td class="text-center">
                    <a href="{% url 'product-detail' product.product_id %}" class="btn border border-secondary rounded-pill px-3 text-primary">
                        <i class="fa fa-plus-circle me-2 text-primary"></i> View More
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<link href={% static 'css/list.css' %} rel="stylesheet">
{% endblock %}
