 {% load static %}
 <!-- JavaScript Libraries -->
 
 <script src={% static "lib/easing/easing.min.js" %}></script>
 <script src={% static "lib/waypoints/waypoints.min.js" %}></script>
 <script src={% static "lib/lightbox/js/lightbox.min.js" %}></script>
 <script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>

 <!-- Template Javascript -->
 <script src={% static "js/main.js" %}></script>
 
 <script>

    {% comment %} for scrolling to product from banner  {% endcomment %}
    function scrollToOrganicProducts() {
        document.getElementById('organic-products').scrollIntoView({ behavior: 'smooth' });
    }
    function scrollToVegatableProducts() {
        document.getElementById('vegetable-products').scrollIntoView({ behavior: 'smooth' });
    }
    {% comment %} for selecting  stars for testimonial {% endcomment %}
       
    document.addEventListener("DOMContentLoaded", function () {
        const gridViewButton = document.getElementById('grid-view');
        const listViewButton = document.getElementById('list-view');
        const gridContainer = document.getElementById('grid-container');
        const listContainer = document.getElementById('list-container');
    
        gridViewButton.addEventListener('click', function () {
            gridContainer.style.display = 'block';
            listContainer.style.display = 'none';
        });
    
        listViewButton.addEventListener('click', function () {
            gridContainer.style.display = 'none';
            listContainer.style.display = 'block';
            $('#product-list-table').DataTable(); // Initialize DataTables
        });
    });
       
</script>
