 {% load static %}
 <!-- JavaScript Libraries -->
 
 <script src={% static "lib/easing/easing.min.js" %}></script>
 <script src={% static "lib/waypoints/waypoints.min.js" %}></script>
 <script src={% static "lib/lightbox/js/lightbox.min.js" %}></script>
 <script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>

 <!-- Template Javascript -->
 <script src={% static "js/main.js" %}></script>
 
 <script>

    {% comment %} for scrolling to product from banner  {% endcomment %}
    function scrollToOrganicProducts() {
        document.getElementById('organic-products').scrollIntoView({ behavior: 'smooth' });
    }
    function scrollToVegatableProducts() {
        document.getElementById('vegetable-products').scrollIntoView({ behavior: 'smooth' });
    }
    {% comment %} for selecting  stars for testimonial {% endcomment %}
       
    document.addEventListener("DOMContentLoaded", function() {
        const gridViewButton = document.getElementById('grid-view');
        const listViewButton = document.getElementById('list-view');
        const gridContainer = document.getElementById('grid-container');
        const listContainer = document.getElementById('list-container');
        
        // Load view preference from localStorage
        const savedView = localStorage.getItem('viewMode') || 'grid';  // Default to grid if no preference is saved
        applyView(savedView);
        
        // Event listener for Grid View button
        gridViewButton.addEventListener('click', function() {
            localStorage.setItem('viewMode', 'grid');
            applyView('grid');
        });

        // Event listener for List View button
        listViewButton.addEventListener('click', function() {
            localStorage.setItem('viewMode', 'list');
            applyView('list');
        });

        // Function to apply the view based on mode
        function applyView(mode) {
            if (mode === 'grid') {
                gridContainer.style.display = 'block';
                listContainer.style.display = 'none';
            } else if (mode === 'list') {
                gridContainer.style.display = 'none';
                listContainer.style.display = 'block';
                $('#product-list-table').DataTable();
            }
        }
    });
       
</script>
